mixin dashboardNavigationItem(count, cssClass)
  li.writer-dashboard-navigation-item.clj-dashboard-navigation-item(class=cssClass)
    a.writer-dashboard-navigation-item-link.clj-dashboard-navigation-item-link(href="#dashboard-content")
      span.clj-dashboard-navigation-item-label
        block
      span.writer-dashboard-navigation-item-link-count.clj-dashboard-navigation-item-link-count (#{count})
      i.fa.fa-angle-right

mixin dashboardAnswerItem(itemSaved)
  li.dashboard-answer-item.clj-dashboard-answer-item
    .dashboard-answer-item-stats
      .dashboard-answer-item-up-score
        i.fa.fa-thumbs-o-up
        = " "
        span.clj-dashboard-answer-item-up-count !27
      .dashboard-answer-item-down-score
        i.fa.fa-thumbs-o-down
        = " "
        span.clj-dashboard-answer-item-down-count !3
    .dashboard-answer-item-text.clj-dashboard-answer-item-text
      | !This is the answer to the question it has a lot of text in it becasue we want to see what happens if the answer is really long. Well not really really long but at least a reasonable length in relation to everything else on the page.
    if itemSaved
      .dashboard-answer-item-saved-content
        p
          i.fa.fa-paperclip
          = " "
          span.clj-dashboard-answer-item-saved-content
            | Clipped. "Great for section d."
    else
      form(actions="#", method="post").dashboard-answer-item-save.clj-dashboard-answer-item-save
        p.form-field
          label.form-field-label(for="comment")
            span.form-field-label-title.visuallyhidden Comment
            input.dashboard-answer-item-save-comment(id="comment", name="comment", type="text", maxlength="140", placeholder="!Add a reply to the community.")
          button.save-answer-button(type='submit')
            i.fa.fa-paperclip

mixin voteUpDownView()
  - voteUpCount = Math.floor(Math.random() * 100) + 1
  - voteDownCount = Math.floor(Math.random() * 100) + 1
  span.dashboard-vote-view
    span.dashboard-vote-count.clj-dashboard-comment-up-count #{voteUpCount}
    i.fa.fa-fw.fa-angle-up
  span.dashboard-vote-view
    span.dashboard-vote-count.clj-dashboard-comment-down-count #{voteDownCount}
    i.fa.fa-fw.fa-angle-down

mixin dashboardCommentItem(author, date)
  li.dashboard-comment-item.clj-dashboard-comment-item
    .dashboard-comment-meta
      span.dashboard-comment-author.clj-dashboard-comment-author #{author}
      span.dashboard-comment-date.clj-dashboard-comment-date #{date}
    .dashboard-comment-text.clj-dashboard-comment-text
      block
    .dashboard-comment-actions
      +voteUpDownView
            
mixin dashboardAnswerBlank()
  li.dashboard-answer-item.clj-dashboard-no-answer-item(data-l8n="content:writer-dashboard/no-answers-message")
    | !No answers have been provided for this question.

mixin dashboardCommentBlank()
  li.dashboard-comment-item.clj-dashboard-no-comment-item(data-l8n="content:writer-dashboard/no-comments-message")
    | !There are no comments on this piece of content.

mixin dashboardQuestionBlank()
  li.writer-dashboard-navigation-item.clj-dashboard-no-question-item
    span.writer-dashboard-navigation-item-content(data-l8n="content:writer-dashboard/no-questions-message")
      | !No questions have been asked for this objective.

