mixin dashboardNavigationItem(count, cssClass)
  li.writer-dashboard-navigation-item.clj-dashboard-navigation-item(class=cssClass)
    a.writer-dashboard-navigation-item-link.clj-dashboard-navigation-item-link(href="#dashboard-content")
      span.clj-dashboard-navigation-item-label
        block
      span.writer-dashboard-navigation-item-link-count.clj-dashboard-navigation-item-link-count.func--item-count (#{count})
      i.fa.fa-angle-right

mixin dashboardAnswerItem(withWriterNote)
  li.dashboard-answer-item.clj-dashboard-answer-item
    .dashboard-answer-item-stats
      .dashboard-answer-item-up-score
        i.fa.fa-thumbs-o-up
        = " "
        span.clj-dashboard-answer-item-up-count !27
      .dashboard-answer-item-down-score
        i.fa.fa-thumbs-o-down
        = " "
        span.clj-dashboard-answer-item-down-count !3
    .dashboard-answer-item-text.clj-dashboard-answer-item-text
      | !This is the answer to the question it has a lot of text in it becasue we want to see what happens if the answer is really long. Well not really really long but at least a reasonable length in relation to everything else on the page.
    +dashboardNoteItem(withWriterNote)

mixin dashboardNoteItem(withWriterNote)
  if withWriterNote
    .dashboard-writer-note-item-container
      p
        i.fa.fa-paperclip
        = " "
        span.clj-dashboard-writer-note-text.func--writer-note-text
          | Clipped. "Great for section d."
  else
    form(action='/meta/writer-notes', method='POST').dashboard-writer-note-item-form.clj-dashboard-writer-note-form
      input.clj-refer(name='refer', type='hidden', value='!redirect-after-post-uri')
      input.clj-note-on-uri(name='note-on-uri', type='hidden', value='!entity-to-add-note-on')
      p.form-field
        label.form-field-label
          span.form-field-label-title.visuallyhidden Note
          input.dashboard-writer-note-item-field.clj-writer-note-item-field.func--dashboard-writer-note-item-field(name="note", type="text", placeholder="!Add a reply to the community.", data-l8n="attr/placeholder:writer-dashboard/writer-note-placeholder")
          span.user-input-error-message.clj-writer-note-empty-error(data-l8n="content:writer-dashboard/writer-note-empty-validation-message") !Your response cannot be empty
          span.user-input-error-message.clj-writer-note-length-error(data-l8n="content:writer-dashboard/writer-note-length-validation-message") !Your response cannot be more than 500 characters
        button.dashboard-writer-note-item-save-button(type='submit')
          i.fa.fa-paperclip

mixin voteUpDownView()
  - voteUpCount = Math.floor(Math.random() * 100) + 1
  - voteDownCount = Math.floor(Math.random() * 100) + 1
  span.dashboard-vote-view
    span.dashboard-vote-count.clj-dashboard-comment-up-count #{voteUpCount}
    i.fa.fa-fw.fa-angle-up
  span.dashboard-vote-view
    span.dashboard-vote-count.clj-dashboard-comment-down-count #{voteDownCount}
    i.fa.fa-fw.fa-angle-down

mixin dashboardCommentItem(author, date, withWriterNote)
  li.dashboard-comment-item.clj-dashboard-comment-item
    .dashboard-comment-meta
      span.dashboard-comment-author.clj-dashboard-comment-author #{author}
      span.dashboard-comment-date.clj-dashboard-comment-date #{date}
    .dashboard-comment-text.clj-dashboard-comment-text
      block
    .dashboard-comment-actions
      +voteUpDownView
    +dashboardNoteItem(withWriterNote)

mixin dashboardAnnotationItem(author, date)
  li.dashboard-annotation-item.clj-dashboard-annotation-item
    .dashboard-annotation-meta
      span.dashboard-annotation-author.clj-dashboard-annotation-author #{author}
      span.dashboard-annotation-date.clj-dashboard-annotation-date #{date}
    .dashboard-annotation-text.clj-dashboard-annotation-text
      block
    .dashboard-annotation-actions
      +voteUpDownView

mixin dashboardAnswerBlank()
  li.dashboard-answer-item.clj-dashboard-no-answer-item
    | !No answers have been provided for this question.

mixin dashboardCommentBlank()
  li.dashboard-comment-item.clj-dashboard-no-comment-item
    | !There are no comments on this piece of content.

mixin dashboardAnnotationBlank()
  li.dashboard-annotation-item.clj-dashboard-no-annotation-item
    | !There are no annotations associated with this draft.

mixin dashboardQuestionBlank()
  li.writer-dashboard-navigation-item.clj-dashboard-no-question-item
    span.writer-dashboard-navigation-item-content(data-l8n="content:writer-dashboard/no-questions-message")
      | !No questions have been asked for this objective.

