include _masthead
include _questions
include _comments
include _writers
include _objectives
include _draft
include _buttons

// initialization
- var blocks = {};

mixin set(key)
  - blocks[key] = this.block

mixin guidanceText(heading,l8n)
  - l8n = l8n || 'content:create-objective-guidance/heading'
  .guidance-text-wrapper.js-hide-me
    .guidance-text
      .guidance-buttons.clj-guidance-buttons
        a.button-hide-guidance-text.js-hide-button(href="#")
          span Hide
          =" "
          i.fa.fa-times
      h2.guidance-text-heading.clj-guidance-heading.l8n-guidance-heading(data-l8n=l8n) #{heading}
      block

mixin goalItem()
  li.goal-item
    i.fa-li.fa.fa-dot-circle-o
    block

mixin voteUpDownControls()
  - voteUpCount = Math.floor(Math.random() * 100) + 1
  - voteDownCount = Math.floor(Math.random() * 100) + 1
  form.clj-up-down-vote-form.actions-up-down-vote-form(action="/meta/up-vote", method="post")
    input.clj-vote-on-uri(type="hidden", value="!vote-on-uri", name="vote-on-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.func--up-vote.clj-actions-vote-button.actions-vote-up(type="submit")
      span.func--up-score.clj-up-vote-count.actions-vote-count #{voteUpCount}
      i.fa.fa-fw.fa-angle-up
      span.vote-direction-text !Vote up
  form.clj-up-down-vote-form.actions-up-down-vote-form(action="/meta/down-vote", method="post")
    input.clj-vote-on-uri(type="hidden", value="!vote-on-uri", name="vote-on-uri")
    input.clj-refer(type="hidden", value="!current-url", name="refer")
    button.func--down-vote.clj-actions-vote-button.actions-vote-down(type="submit")
      span.func--down-score.clj-down-vote-count.actions-vote-count #{voteDownCount}
      i.fa.fa-fw.fa-angle-down
      span.vote-direction-text !Vote down

mixin pleaseSignIn(reason)
  p(class="clj-#{reason}-please-sign-in")
    span(data-l8n="content:#{reason}/before-sign-in-link") !Please
    =" "
    a(class="clj-#{reason}-sign-in-link", href='/sign-in', data-l8n="content:#{reason}/sign-in-link") !sign in
    =" "
    span(data-l8n="content:#{reason}/after-sign-in-link") !to ...

mixin modal(title, titleTranslationKey, funcClass)
  .modal-contents.clj-modal-contents.js-modal-content
    .modal-header
      h2.modal-title(class="#{funcClass}", data-l8n="content:#{titleTranslationKey}") !Your modal title
    .modal-body
      block

mixin googleAnalytics(trackingID)
  script.clj-google-analytics.
    (function(i,s,o,g,r,a,m) {
      i['GoogleAnalyticsObject']=r;
      i[r]=i[r]||function() {(i[r].q=i[r].q||[]).push(arguments)},
      i[r].l = 1*new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a,m)})
    (window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{trackingID}', 'auto');
    ga('send', 'pageview');
