// Global

mixin guidanceText(heading)
  .guidance-text
    .guidance-buttons
      a.button-hide-guidance-text(href="#")
        span Hide
        =" "
        i.fa.fa-times
    h2.guidance-text-heading #{heading}
    block

mixin goalItem()
  li.goal-item
    i.fa-li.fa.fa-dot-circle-o
    block

mixin questionItem(author, date)
  li.question-item
    //span.question-author #{author}
    //span.question-date #{date}
    .question-text
      block
    .question-actions
      a.comment-reply(href="#") Answer

mixin commentReply
  - voteUpCount = Math.floor(Math.random() * 100) + 1
  - voteDownCount = Math.floor(Math.random() * 100) + 1
  .comment-actions
    a.comment-vote-up(href="#", title="I agree")
      span.comment-vote-count #{voteUpCount}
      i.fa.fa-angle-up
      span.vote-direction-text Vote agree
    a.comment-vote-down(href="#", title="I disagree")
      span.comment-vote-count #{voteDownCount}
      i.fa.fa-angle-down
      span.vote-direction-text Vote disagree
    a.comment-reply(href="#") Reply

mixin commentItem(author, date)
  li.comment-item
    .comment-meta
      span.comment-author #{author}
      span.comment-date #{date}
    .comment-text
      block
    +commentReply

// Objectives

mixin objectiveWriterItem(name, href, photo)
  - href = href || ''
  - photo = photo || 'http://placekitten.com/g/120/120'
  li.writer-item
    a(href="#{href}")
      .writer-item-photo
        img(src="#{photo}")
      .writer-item-text
        .writer-item-author
          = name
        .writer-item-descripton
          p
            block

// Drafts

mixin draftWriterItem(name, href, photo)
  - href = href || ''
  - photo = photo || 'http://placekitten.com/g/120/120'
  li.writer-item
    a(href="#{href}")
      .writer-item-photo
        img(src="#{photo}")
      .writer-item-author
        = name

// Questions

mixin addQuestionForm(allowFocus)
  - focus = allowFocus ? true : false
    form#clj-question-create(method="POST", action="")
      label(for="question") Add a question
      textarea#question(name="question", rows="5", cols="10", pattern=".{50,}", maxlength="500", title="${question-create/question-title}", required="required", autofocus=focus)
      button.button(type="submit") Add question
