.main-wrapper-no-sidebar.article-wrapper#clj-invitation-container
  h1.invitation-title ${invitation/page-title}
  p.lede ${invitation/page-intro}
  .response-form
    p ${invitation-sign-in/please}
      a#clj-invitation-sign-in-uri(href="/sign-in") ${invitation-sign-in/sign-in}
      | &nbsp;
      | ${invitation-sign-in/to}
