.main-wrapper.article-wrapper#clj-objective-create
  h1.objective-title ${objective-create/page-title}
  p.helper-border-bottom ${objective-create/page-intro}

  form(method="POST", action="/objectives")
    label(for="objective-title")
      | ${objective-create/headline-label}
      span.required *
    p.label-helper ${objective-create/headline-prompt}
    input(id="objective-title", name="title", type="text", pattern=".{3,}", title="${objective-create/headline-title}", maxlength="120", required="required")

    label(for="objective-goals")
      | ${objective-create/goals-label}
      span.required *
    p.label-helper ${objective-create/goals-prompt}
    input(id="objective-goals", name="goal-1", type="text", pattern=".{3,}", maxlength="200", required="required", title="${objective-create/goals-title}")

    label.visuallyhidden(for="objective-goals-2") ${objective-create/goals-label} 2
    input(id="objective-goals-2", name="goal-2", type="text", maxlength="200", title="${objective-create/goals-title}")

    label.visuallyhidden(for="objective-goals-3") ${objective-create/goals-label} 3
    input(id="objective-goals-3", name="goal-3", type="text", maxlength="200", title="${objective-create/goals-title}")

    label(for="objective-description") ${objective-create/background-label}
    p.label-helper ${objective-create/background-prompt}
    textarea(id="objective-description", name="description", rows="10", cols="10", maxlength="1000", title="${objective-create/background-title}")

    label(for="objective-end-date")
      | ${objective-create/end-date-label}
      span.required *
    p.label-helper
      | ${objective-create/end-date-prompt}
      span.not-yet-implemented-comment ${objective-create/drafting-not-yet-implemented}

    input(id="objective-end-date", name="end-date", type="date", title="${objective-create/end-date-title}", placeholder="${objective-create/end-date-placeholder}", required="required")

    button.button(type="submit")
      | ${objective-create/submit}
