include ../mixins/_helpers
include ../mixins/_view_helpers

- var pageTitle = "!Page Title"
- var htmlClass = ""
- var bodyClass = ""
- var googleFontsUrl = "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
block vars

doctype
html.no-js(lang="en", class="#{htmlClass}")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection", content="telephone=no")
    meta(name="description", content="")
    block headerMeta

    link(rel="shortcut icon", href="/static/favicon.ico")
    link(rel="apple-touch-icon", href="static/apple-touch-icon.png")

    +javascriptIncludeTag("modernizr.min")

    <!--[if (lt IE 8) & (!IEMobile)]>
    +stylesheetLinkTag("basic","screen")
    <![endif]-->

    <!--[if IE 8]>
    link(type="text/css", rel="stylesheet", href="#{googleFontsUrl}")/
    +stylesheetLinkTag("ie8","screen")
    <![endif]-->

    //[if gt IE 8]><!
    link(type="text/css", rel="stylesheet", href="#{googleFontsUrl}")/
    +stylesheetLinkTag("modern","screen")
    //<![endif]


    block headerScripts

  body(class="#{bodyClass}")

    <!--[if (IE 8)]>
    p.browserupgrade
      | You are using an
      = " "
      strong outdated
      = " "
      | browser. Please
      = " "
      a(href="http://browsehappy.com/") upgrade your browser
      = " "
      to improve your experience.
    <![endif]-->

    input.nav-trigger#nav-trigger(type="checkbox")

    .js-modal.js-hidden.js-close-target
      .js-modal-container
        .js-modal-dismiss
          a.js-close.clj-modal-close-anchor(href='#')
            span(data-l8n="content:footer/modal-dismiss") !Close
            =" "
            i.fa.fa-times

    .app-wrapper
      block pageHeader
        header#top(role="banner")
          .header-content
            +mastheadSignedOut
            +statusBar

      block guidance

      #main-content(role="main").main-content
        block content

      block pageFooter
        footer
          .footer-container
            .footer
              .footer-row
                ul.footer-content-links
                  li
                    a.footer-link(href="/learn-more", data-l8n="content:footer/about-link") !About
                  li
                    a.footer-link(href="/admin-activity", data-l8n="content:footer/deleted-link") !Deleted Content
                  li
                    a.footer-link(href="https://github.com/ThoughtWorksInc/objective8")
                      | Github
                      = " "
                      i.fa.fa-github
                .footer-content-text.footer-alpha-warning(data-l8n="content:footer/alpha-warning") !ALPHA: this is a testing version of Objective8 data and content may change several times a day
              .footer-footer
                a.footer-link(data-l8n="content:footer/dcent-link", href="http://dcentproject.eu/") !DCENT

    +javascriptIncludeTag("scripts.min")
    block footerScripts
