.share-widget
  h3.share-widget-title ${share-widget/title}
  ul.share-icon-list
    li
      a.btn-social-icon.btn-xs.btn-facebook.js-social-share(href="{{replaceme}}", target="_blank", title="${share-widget/facebook-title}")
        i.fa.fa-facebook
        | ${share-widget/facebook-text}
    li
      a.btn-social-icon.btn-xs.btn-google-plus.js-social-share(href="{{replaceme}}", target="_blank", title="${share-widget/google-plus-title}")
        i.fa.fa-google-plus
        | ${share-widget/google-plus-text}
      
    
    li
      a.btn-social-icon.btn-xs.btn-twitter.js-social-share(href="{{replaceme}}", target="_blank", title="${share-widget/twitter-title}")
        i.fa.fa-twitter
        | ${share-widget/twitter-text}
      
    
    li
      a.btn-social-icon.btn-xs.btn-linkedin.js-social-share(href="{{replaceme}}", target="_blank", title="${share-widget/linkedin-title}")
        i.fa.fa-linkedin
        | ${share-widget/linkedin-text}
      
    
    li
      a.btn-social-icon.btn-xs.btn-reddit.js-social-share(href="{{replaceme}}", target="_blank", title="${share-widget/reddit-title}")
        i.fa.fa-reddit
        | ${share-widget/reddit-text}

  .share-this-link
    label.visuallyhidden(for="share-page-link") ${share-widget/url-label}
    input.share-this-url-input#share-page-link(name="share-page-link", type="text", value="http://sharethisurl.com", title="${share-widget/url-title}")
